<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="trainingStartForm">
    <form [formGroup]="trainingStartForm">
      <ng-template matStepLabel>Kiképzés kezdete<em>{{calcDateDiffNow(trainingStartForm, 'trainingStartDate')}}</em></ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="trainingStartDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Kötelező mező használd a naptár ikont.</mat-error>
        <mat-hint>Használd a kis naptár ikont</mat-hint>
      </mat-form-field>
      <mat-radio-group formControlName="trainingPlace">
        <mat-radio-button *ngFor="let place of trainingPlaces" [value]="place.key">{{place.value}}</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary">Mentés</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="handoverForm">
    <form [formGroup]="handoverForm">
      <ng-template matStepLabel>Átadás</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="handoverDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Kötelező mező használd a naptár ikont.</mat-error>
        <mat-hint>Használd a kis naptár ikont</mat-hint>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="examForm">
    <form [formGroup]="examForm">
      <ng-template matStepLabel>Vizsga</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Dátum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="examDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Kötelező mező használd a naptár ikont.</mat-error>
        <mat-hint>Használd a kis naptár ikont</mat-hint>
      </mat-form-field>
    </form>
  </mat-step>
</mat-horizontal-stepper>
