<h1>{{dogName}} - etetési napló</h1>

<mat-tab-group (selectedIndexChange)="selectedTabIdx = $event">
  <mat-tab label="Etetés">
    <app-food [foods]="foods" (delete)="removeFood($event)" (save)="newFoodEvent($event)"></app-food>
  </mat-tab>
  <mat-tab label="Gyógyszerelés">
    <app-medicine [medicines]="medicines" (delete)="removeMedicine($event)" (save)="newMedicineEvent($event)">
    </app-medicine>
  </mat-tab>
  <mat-tab label="Grafikon">
    <app-chart [foods]="foods" [hasFocus]="selectedTabIdx === 2"></app-chart>
  </mat-tab>
</mat-tab-group>
