<h1>Összes kutya</h1>

<mat-form-field id="search-field">
  <mat-label>Keresés</mat-label>
  <input matInput [formControl]="filterKeyControl" placeholder="Kutya név, Tulajdonos név vagy telefonszám">
</mat-form-field>

<table mat-table [dataSource]="dogList" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Születési idő </th>
    <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="assistanceTypes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Munka típus </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.assistanceTypes?.length == 1">{{getAllAssistanceMultilineName(element)}}</span>
      <ng-container *ngIf="element.assistanceTypes?.length  > 1">
        <p [tooltip]="getAllAssistanceMultilineName(element)" max-width="500">
          {{element.assistanceTypes?.length}} munkatípus
        </p>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gazda </th>
    <td mat-cell *matCellDef="let element"> {{element.owner?.name}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Gazda tel. </th>
    <td mat-cell *matCellDef="let element"> {{element.owner?.phone || '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="trainer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kiképző </th>
    <td mat-cell *matCellDef="let element"> {{element.trainer?.name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="['/dog', 'training', {dogId: element.docId, dogName: element.name}]"
        matTooltip="Képzési napló">
        <mat-icon>assignment</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/dog', 'documents', {dogId: element.docId, dogName: element.name}]"
        matTooltip="Dokumentumok/iratok">
        <mat-icon>folder</mat-icon>
      </button>
      <button disabled="true" mat-icon-button
        [routerLink]="['/dog', 'provision', {dogId: element.docId, dogName: element.name}]" matTooltip="Etetési napló">
        <mat-icon>fastfood</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/dog', element.docId, 'edit']" matTooltip="Szerkesztés">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
