table {
  width: 100%;
}

#search-field {
  margin-top: 5px;
  width: 80%;
}

.mat-table {
  background: #DAFFDA !important;
}

.mat-header-cell {
  color: #00512B !important
}

.mat-row:hover {
  background-color: #c2FFc2;
}

.mat-tooltip {
  white-space: pre !important;
}

.table-index {
  color: #AAA
}
