@use "src/colors";

#new-entry-item {
  margin: 25px 0;
  border: gold 2px solid;
  border-radius: 4px;
}

#new-button {
  margin-right: 30px;
}

.entry-item {
  margin: 10px 0;
}

.milestone-title {
  font-size: 16px;
  font-weight: 600;
}

.mat-expansion-panel {
  background-color: colors.$lighter-green-bg;
}
