<mat-card id="container">
  <div id="meta-tags">

    <mat-form-field appearance="fill">
      <mat-label>Dokumentum típusa</mat-label>
      <mat-select [formControl]="documentTypeSelect">
        <mat-option *ngFor="let dt of documentTypes" [value]="dt.key">
          {{dt.value}}
        </mat-option>
      </mat-select>
      <mat-error>Kötelező választani</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dokumentum dátuma</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="documentDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Kötelező mező használd a naptár ikont.</mat-error>
      <mat-hint>Használd a kis naptár ikont, kicsit jobbra.</mat-hint>
    </mat-form-field>

  </div>
  <div id="file-tags">
    <input accept=".doc,.docx,.pdf,.jpg,.jpeg" type="file" (change)="fileSelected($event.target.files)">
    <p *ngIf="selectedFile" id="file-details">Név: {{selectedFile?.name}} méret: {{selectedFileSize}}</p>
  </div>

  <mat-progress-bar *ngIf="percentChange" id="progress-bar" [value]="percentChange | async"></mat-progress-bar>


  <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
  <mat-card-actions>
    <button *ngIf="!document" [disabled]="!areFieldsValid() || percentChange" mat-raised-button color="primary" type="button"
      (click)="startUpload()">Feltöltés</button>
    <button mat-button color="warn" type="button" (click)="deleteDocument()">Törlés</button>
  </mat-card-actions>

</mat-card>
