@use "src/colors";

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: colors.$dark-green;
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
}

#current-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: colors.$light-green-bg;
}

mat-sidenav-content {
  background-color: colors.$light-green-bg;
}

#container {
  padding: 0 15px 50px 15px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    color: #BBFFBB;
  }
  button.active {
    color: white
  }
}
