<mat-sidenav-container #sidenav>
  <mat-sidenav [opened]="!!currentUserName" mode="side">
    <div id="current-user">
      <div>
        Szia <strong>{{currentUserName}}</strong>
        <button mat-icon-button (click)="logout()">
          <mat-icon style="font-size: 20px;">exit_to_app</mat-icon>
        </button>
      </div>
    </div>
    <nav>
      <button routerLinkActive="active" [routerLink]="['/new-dog']" mat-button>Új kutya</button>
      <button routerLinkActive="active" [routerLink]="['/dog-list']" mat-button>Kutya lista</button>
      <button routerLinkActive="active" [routerLink]="['/trainers']" mat-button>Kiképzők</button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
