<mat-sidenav-container #sidenav>
  <mat-sidenav [opened]="!!currentUserName" mode="side">
    <div id="current-user">
      <div>
        Szia <strong>{{currentUserName}}</strong>
        <button mat-icon-button (click)="logout()">
          <mat-icon style="font-size: 20px;">exit_to_app</mat-icon>
        </button>
      </div>
    </div>
    <nav>
      <button [routerLink]="['new-dog']" mat-button>Új kutya</button>
      <button [routerLink]="['dog-list']" mat-button>Kutya lista</button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
