.expiring-doc-div {
  margin: 10px 0;

  .header-description {
    font-size: 12px;
    font-weight: normal;
  }

  ul: {
    margin: 0;
    padding: 0;
  }
}

mat-expansion-panel {
  background-color: #FF7474
}
