#container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  #dog-form-container {
    display: flex;
    justify-content: center;
    flex: 4;
  }

  #dog-meta {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  #form-inputs {
    display: flex;
    flex-direction: row;

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 10px;
    }
  }

  #action-bar {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding: 0 15px;

    button {
      margin: 0 15px;
      flex: 1;
    }
  }

  #assistanceTypeList {
    margin: 0;

    li,
    mat-icon {
      line-height: 1em;
    }

    .mat-button {
      padding: 0;
      min-width: 0;
    }
  }
}
