#container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > div {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  #dog-form-container {
    flex: 3
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;

  #action-bar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 0 15px;

    button {
      margin: 0 15px;
      flex: 1
    }
  }


}
