@use "src/colors";

#new-training-type {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-form-field {
    margin: 0 10px;
  }
}

mat-card {
  background-color: colors.$lighter-green-bg;
  margin: 5px 0;
}

.types {
  border-bottom: solid 1px black;
}
