@use "src/colors";

#header {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

mat-card {
  background-color: colors.$lighter-green-bg;
  margin: 10px 0;
}

#form-container {
  display: flex;
  flex-direction: row;
  mat-form-field {
    margin: 0 15px;
  }
}

#search-field {
  margin: 10px 0;
}
